In [24]:
#Importamos librer√≠as 
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model

In [25]:
#Leemos dataframe
df = pd.read_csv("parasito.csv")
print(df)

    Temperatura  Humedad  Recuento
0            15       70       156
1            16       65       157
2            24       71       177
3            13       64       145
4            21       84       197
5            16       86       184
6            22       72       172
7            18       84       187
8            20       71       157
9            16       75       169
10           28       84       200
11           27       79       193
12           13       80       167
13           22       86       170
14           23       88       190

In [26]:
print(df.keys())

Index(['Temperatura', 'Humedad', 'Recuento'], dtype='object')

In [27]:
df.head(6)

   Temperatura  Humedad  Recuento
0           15       70       156
1           16       65       157
2           24       71       177
3           13       64       145
4           21       84       197
5           16       86       184

In [28]:
print(df.Temperatura)

0     15
1     16
2     24
3     13
4     21
5     16
6     22
7     18
8     20
9     16
10    28
11    27
12    13
13    22
14    23
Name: Temperatura, dtype: int64

In [29]:
print(df.Humedad)

0     70
1     65
2     71
3     64
4     84
5     86
6     72
7     84
8     71
9     75
10    84
11    79
12    80
13    86
14    88
Name: Humedad, dtype: int64

In [30]:
#seleccionamos la columna 1,2,3 del dataset
X_multiple=df.iloc[:,:4]

In [43]:
y_multiple=df.Humedad

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test=train_test_split(X_multiple, y_multiple)

In [46]:
lr_multiple=linear_model.LinearRegression()

In [47]:
lr_multiple.fit (X_train, y_train)

LinearRegression()

In [48]:
Y_pred_multiple=lr_multiple.predict(X_test)
print(Y_pred_multiple)

[86. 65. 72. 86.]

In [49]:
print(y_test)

5     86
1     65
6     72
13    86
Name: Humedad, dtype: int64

In [50]:
print("valor de la pendiente")
print(lr_multiple.coef_)

valor de la pendiente
[-1.19385748e-15  1.00000000e+00  1.11022302e-16]

In [51]:
print(lr_multiple.coef_[0])
print(lr_multiple.coef_[1])
print(lr_multiple.coef_[2])

-1.1938574765817272e-15
1.0000000000000009
1.1102230246251565e-16

In [52]:
print("valor de la interseccion")
print(lr_multiple.intercept_)

valor de la interseccion
-7.105427357601002e-14

In [53]:
print("Ecuacion de la regresion lineal multiple: y=x1*",lr_multiple.coef_[0], " +x2*",lr_multiple.coef_[1],"+x3*",lr_multiple.coef_[2],"+",lr_multiple.intercept_)

Ecuacion de la regresion lineal multiple: y=x1* -1.1938574765817272e-15  +x2* 1.0000000000000009 +x3* 1.1102230246251565e-16 + -7.105427357601002e-14

In [54]:
print("presision del algoritmo")
print(lr_multiple.score(X_train,y_train))

presision del algoritmo
1.0