In [2]:
#Importamos librer√≠as 
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model

In [3]:
df= pd.read_csv("covid-19_general_MX.csv")
print(df)

        Unnamed: 0  SECTOR  ENTIDAD_UM  SEXO  ENTIDAD_RES  TIPO_PACIENTE  \
0                0       3          27     1           27              2
1                1       3          27     1           27              1
2                2       3          25     1           25              2
3                3       4           9     1            9              1
4                4       4          25     1           25              2
...            ...     ...         ...   ...          ...            ...
303456      303456       6           9     1            9              2
303457      303457      12           9     1           15              1
303458      303458      12          15     1           15              1
303459      303459       9           9     1            9              1
303460      303460      12          12     2           12              1

       FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF  INTUBADO  ...  INMUSUPR  \
0         2020-04-17     2020-04-02  2020-04-20         2  ...         2
1         2020-05-15     2020-05-14  9999-99-99        97  ...         2
2         2020-05-20     2020-05-13  9999-99-99         2  ...         2
3         2020-04-15     2020-04-12  9999-99-99        97  ...         2
4         2020-04-13     2020-04-13  2020-04-23         2  ...         2
...              ...            ...         ...       ...  ...       ...
303456    2020-05-12     2020-05-07  9999-99-99         2  ...         2
303457    2020-05-15     2020-05-10  9999-99-99        97  ...         2
303458    2020-05-15     2020-05-09  9999-99-99        97  ...         2
303459    2020-05-16     2020-05-16  9999-99-99        97  ...         2
303460    2020-05-12     2020-05-08  9999-99-99        97  ...         2

        HIPERTENSION  OTRA_CON  CARDIOVASCULAR  OBESIDAD  RENAL_CRONICA  \
0                  1         1               1         2              2
1                  2         2               2         2              2
2                  2         2               2         1              2
3                  2         2               2         2              2
4                  1         2               2         1              2
...              ...       ...             ...       ...            ...
303456             2         2               2         2              2
303457             2         2               2         2              2
303458             2         2               2         1              2
303459             1         2               2         2              2
303460             2         2               2         2              2

        TABAQUISMO  OTRO_CASO  RESULTADO  UCI
0                2          2          1    1
1                2          1          1   97
2                2         99          1    2
3                2         99          1   97
4                2         99          1    2
...            ...        ...        ...  ...
303456           2          2          3    2
303457           2          2          3   97
303458           2          2          3   97
303459           2          1          3   97
303460           2          1          3   97

[303461 rows x 26 columns]

In [4]:
print(df.keys())

Index(['Unnamed: 0', 'SECTOR', 'ENTIDAD_UM', 'SEXO', 'ENTIDAD_RES',
       'TIPO_PACIENTE', 'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF',
       'INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD', 'DIABETES', 'EPOC',
       'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_CON', 'CARDIOVASCULAR',
       'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO', 'RESULTADO',
       'UCI'],
      dtype='object')

In [5]:
df.head(6)

,Unnamed: 0,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,...,INMUSUPR,HIPERTENSION,OTRA_CON,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI
0,0,3,27,1,27,2,2020-04-17,2020-04-02,2020-04-20,2,...,2,1,1,1,2,2,2,2,1,1
1,1,3,27,1,27,1,2020-05-15,2020-05-14,9999-99-99,97,...,2,2,2,2,2,2,2,1,1,97
2,2,3,25,1,25,2,2020-05-20,2020-05-13,9999-99-99,2,...,2,2,2,2,1,2,2,99,1,2
3,3,4,9,1,9,1,2020-04-15,2020-04-12,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
4,4,4,25,1,25,2,2020-04-13,2020-04-13,2020-04-23,2,...,2,1,2,2,1,2,2,99,1,2
5,5,4,9,1,15,1,2020-04-27,2020-04-25,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97

In [6]:
print(df.OBESIDAD)

0         2
1         2
2         1
3         2
4         1
         ..
303456    2
303457    2
303458    1
303459    2
303460    2
Name: OBESIDAD, Length: 303461, dtype: int64

In [7]:
print(df.OTRO_CASO)

0          2
1          1
2         99
3         99
4         99
          ..
303456     2
303457     2
303458     2
303459     1
303460     1
Name: OTRO_CASO, Length: 303461, dtype: int64

In [8]:
#seleccionamos la columna 13,15 15 del dataset
X_multiple=df.iloc[:,13:16]

In [9]:
y_multiple=df.TABAQUISMO

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X_multiple, y_multiple)

In [44]:
lr_multiple=linear_model.LinearRegression()

In [45]:
lr_multiple.fit (X_train, y_train)

LinearRegression()

In [46]:
Y_pred_multiple=lr_multiple.predict(X_test)
print(Y_pred_multiple)

[1.99610684 1.99610684 1.99610684 ... 1.99610684 1.99610684 1.99610684]

In [47]:
print(y_test)

189261    2
132813    2
204906    2
161948    2
173182    2
         ..
62069     2
210475    2
179896    2
18228     2
69556     2
Name: TABAQUISMO, Length: 75866, dtype: int64

In [48]:
print("valor de la pendiente")
print(lr_multiple.coef_)

valor de la pendiente
[0.13699012 0.26659646 0.50792296]

In [49]:
print(lr_multiple.coef_[0])
print(lr_multiple.coef_[1])
print(lr_multiple.coef_[2])

0.13699011746988074
0.26659646081313426
0.5079229641225109

In [50]:
print("valor de la interseccion")
print(lr_multiple.intercept_)

valor de la interseccion
0.17308775342211424

In [51]:
print("Ecuacion de la regresion lineal multiple: y=x1*",lr_multiple.coef_[0], " +x2*",lr_multiple.coef_[1],"+x3*",lr_multiple.coef_[2],"+",lr_multiple.intercept_)

Ecuacion de la regresion lineal multiple: y=x1* 0.13699011746988074  +x2* 0.26659646081313426 +x3* 0.5079229641225109 + 0.17308775342211424

In [52]:
print("presision del algoritmo")
print(lr_multiple.score(X_train,y_train))

presision del algoritmo
0.7374002946794309