In [1]:
#Importamos librer√≠as 
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model

In [2]:
df= pd.read_csv("agricultural_raw_material.csv")
print(df)

      Month Coarse wool Price Coarse wool price % Change Copra Price  \
0    Apr-90            482.34                          -         236
1    May-90            447.26                     -7.27%         234
2    Jun-90            440.99                     -1.40%         216
3    Jul-90            418.44                     -5.11%         205
4    Aug-90            418.44                      0.00%         198
..      ...               ...                        ...         ...
356  Dec-19               NaN                        NaN         NaN
357  Jan-20               NaN                        NaN         NaN
358  Feb-20               NaN                        NaN         NaN
359  Mar-20               NaN                        NaN         NaN
360  Apr-20               NaN                        NaN         NaN

    Copra price % Change  Cotton Price Cotton price % Change Fine wool Price  \
0                      -          1.83                     -        1,071.63
1                 -0.85%          1.89                 3.28%        1,057.18
2                 -7.69%          1.99                 5.29%          898.24
3                 -5.09%          2.01                 1.01%          895.83
4                 -3.41%          1.79               -10.95%          951.22
..                   ...           ...                   ...             ...
356                  NaN          1.67                 1.21%             NaN
357                  NaN          1.74                 4.19%             NaN
358                  NaN          1.69                -2.87%             NaN
359                  NaN          1.49               -11.83%             NaN
360                  NaN          1.40                -6.04%             NaN

    Fine wool price % Change  Hard log Price  ... Plywood Price  \
0                          -          161.20  ...        312.36
1                     -1.35%          172.86  ...        350.12
2                    -15.03%          181.67  ...        373.94
3                     -0.27%          187.96  ...        378.48
4                      6.18%          186.13  ...        364.60
..                       ...             ...  ...           ...
356                      NaN          272.80  ...        500.37
357                      NaN          272.40  ...        499.64
358                      NaN          270.56  ...        496.28
359                      NaN          276.93  ...        507.96
360                      NaN          276.24  ...        506.68

     Plywood price % Change Rubber Price  Rubber price % Change Softlog Price  \
0                         -         0.84                      -        120.66
1                    12.09%         0.85                  1.19%        124.28
2                     6.80%         0.85                  0.00%        129.45
3                     1.21%         0.86                  1.18%        124.23
4                    -3.67%         0.88                  2.33%        129.70
..                      ...          ...                    ...           ...
356                  -0.22%         1.66                  7.79%           NaN
357                  -0.15%         1.68                  1.20%           NaN
358                  -0.67%         1.61                 -4.17%           NaN
359                   2.35%         1.50                 -6.83%           NaN
360                  -0.25%         1.33                -11.33%           NaN

     Softlog price % Change Soft sawnwood Price  Soft sawnwood price % Change  \
0                         -              218.76                             -
1                     3.00%              213.00                        -2.63%
2                     4.16%              200.00                        -6.10%
3                    -4.03%              210.05                         5.03%
4                     4.40%              208.30                        -0.83%
..                      ...                 ...                           ...
356                     NaN                 NaN                           NaN
357                     NaN                 NaN                           NaN
358                     NaN                 NaN                           NaN
359                     NaN                 NaN                           NaN
360                     NaN                 NaN                           NaN

    Wood pulp Price  Wood pulp price % Change
0            829.29                         -
1            842.51                     1.59%
2            831.35                    -1.32%
3            798.83                    -3.91%
4            818.74                     2.49%
..              ...                       ...
356          875.00                     0.00%
357          875.00                     0.00%
358          875.00                     0.00%
359          875.00                     0.00%
360             NaN                       NaN

[361 rows x 25 columns]

In [3]:
print(df.keys())

Index(['Month', 'Coarse wool Price', 'Coarse wool price % Change',
       'Copra Price', 'Copra price % Change', 'Cotton Price',
       'Cotton price % Change', 'Fine wool Price', 'Fine wool price % Change',
       'Hard log Price', 'Hard log price % Change', 'Hard sawnwood Price',
       'Hard sawnwood price % Change', 'Hide Price', 'Hide price % change',
       'Plywood Price', 'Plywood price % Change', 'Rubber Price',
       'Rubber price % Change', 'Softlog Price', 'Softlog price % Change',
       'Soft sawnwood Price', 'Soft sawnwood price % Change',
       'Wood pulp Price', 'Wood pulp price % Change'],
      dtype='object')

In [141]:
df.head(6)

   Temperatura  Humedad  Recuento
0           15       70       156
1           16       65       157
2           24       71       177
3           13       64       145
4           21       84       197
5           16       86       184

In [142]:
print(df.Temperatura)

0     15
1     16
2     24
3     13
4     21
5     16
6     22
7     18
8     20
9     16
10    28
11    27
12    13
13    22
14    23
Name: Temperatura, dtype: int64

In [143]:
print(df.Recuento)

0     156
1     157
2     177
3     145
4     197
5     184
6     172
7     187
8     157
9     169
10    200
11    193
12    167
13    170
14    190
Name: Recuento, dtype: int64

In [144]:
#seleccionamos la columna 5,6 7 del dataset
X_multiple=df.iloc[:,:3]

In [145]:
y_multiple=df.Humedad

In [146]:
from sklearn.model_selection import train_test_split

In [147]:
X_train, X_test, y_train, y_test=train_test_split(X_multiple, y_multiple)

In [148]:
lr_multiple=linear_model.LinearRegression()

In [149]:
lr_multiple.fit (X_train, y_train)

LinearRegression()

In [150]:
Y_pred_multiple=lr_multiple.predict(X_test)
print(Y_pred_multiple)

[86. 84. 84. 84.]

In [151]:
print(y_test)

13    86
4     84
7     84
10    84
Name: Humedad, dtype: int64

In [152]:
print("valor de la pendiente")
print(lr_multiple.coef_)

valor de la pendiente
[ 1.28256328e-16  1.00000000e+00 -2.22044605e-16]

In [153]:
print(lr_multiple.coef_[0])
print(lr_multiple.coef_[1])
print(lr_multiple.coef_[2])

1.2825632817867723e-16
0.999999999999999
-2.220446049250313e-16

In [154]:
print("valor de la interseccion")
print(lr_multiple.intercept_)

valor de la interseccion
9.947598300641403e-14

In [155]:
print("Ecuacion de la regresion lineal multiple: y=x1*",lr_multiple.coef_[0], " +x2*",lr_multiple.coef_[1],"+x3*",lr_multiple.coef_[2],"+",lr_multiple.intercept_)

Ecuacion de la regresion lineal multiple: y=x1* 1.2825632817867723e-16  +x2* 0.999999999999999 +x3* -2.220446049250313e-16 + 9.947598300641403e-14

In [156]:
print("presision del algoritmo")
print(lr_multiple.score(X_train,y_train))

presision del algoritmo
1.0